{{!-- <H1>Lista de Carts</H1>

{{#each carts}}
  <p>Title: {{this.title}}</p>
  <p>Description: {{this.description}}</p>
  <p>Category: {{this.category}}</p>
{{/each}} --}}

  <h1>Lista de Productos</h1>
  {{#each carts}}
  <p>Title: {{this.title}}</p>
  <p>Description: {{this.description}}</p>
  <p>Category: {{this.category}}</p>
  <p>Productos: {{products2}}</p>
  <p>-------------------</p>
  {{/each}}

  <div>
    <p>Pagina actual {{page}}</p>
  </div>

  {{#if hasPrevPage}}
    <p>Pagina previa {{prevPage}}</p>
    <a href="/api/v1/{{prevlink}}"><button
      >Anterior</button></a>
  {{/if}}

  {{#if hasNextPage}}
    <p>Pagina siguiente {{nextPage}}</p>
    <a href="/api/v1/{{nextlink}}"><button
      >Siguiente</button></a>
  {{/if}}
</div>