{{!-- <H1>Lista de Productos</H1>

{{#each products}}
  <p>Name: {{this.name}} </p>
  <p>Description: {{this.description}}</p>
  <p>Price: {{this.price}}</p>
  <p>Code: {{this.code}}</p>
  <p>Stock: {{this.stock}}</p>
  <p>Thumbnail: {{this.thumbnail}}</p>
  <p>Carts: {{this.carts}}</p>
  <p>-------------------</p>
{{/each}} --}}


  <h1>List Products</h1>
  <h2>{{messagesession}}</h2>
  <h3>Join all Carts (only rol admin)</h3>
  <form action="/api/v1/views/carts" method="get">
  <input type="submit" value="carts">
</form>
  {{#each products}}
  <p>Name: {{this.name}} </p>
  <p>Description: {{this.description}}</p>
  <p>Price: {{this.price}}</p>
  <p>Code: {{this.code}}</p>
  <p>Stock: {{this.stock}}</p>
  <p>Thumbnail: {{this.thumbnail}}</p>

  <form method="post" action="http://localhost:8080/api/v1/carts/6419fbc078eae46eb1fff5e5/products/{{this.id}}" >
  <button type="submit">Agregar al Carrito</button>
  </form>
  <p>-------------------</p>
  {{/each}}

  <div>
    <p>Pagina actual {{page}}</p>
    <p>Paginas totales {{totalPages}}</p>
  </div>

  {{#if hasPrevPage}}
    <p>Pagina previa {{prevPage}}</p>
    <a href="/api/v1/{{prevlink}}"><button
      >Anterior</button></a>
  {{/if}}

  {{#if hasNextPage}}
    <p>Pagina siguiente {{nextPage}}</p>
    <a href="/api/v1/{{nextlink}}"><button
      >Siguiente</button></a>
  {{/if}}
</div>
<form action="/api/v1/session/logout" method="get">
  <input type="submit" value="logout">
</form>